<!DOCTYPE html>
<head>
    <title>Darkpaste</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <center>
        <form action="{{ url_for('update_paste') }}" method="post">
            <h2>Title</h2>
			<input style="display:none" type="text" id="url" name="url" value="{{content[0][4]}}">
            <input type="text" id="title" name="title" value="{{content[0][0]}}">
            <h3>Content</h3>
            <textarea id="content" name="content" rows="40" cols="50">{{content[0][1]}}</textarea>
            <br>		
			<select name="pasteType" id="pasteType">
			  <option value="public">Public</option>
			  <option value="unlisted">Unlisted</option>
			  <option value="private">Private</option>
			</select>
			
			<input type="submit" value="Submit"> 
        </form>
    </center>
</body>