<!DOCTYPE html>
<head>
    <title>Darkpaste</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <center>
            <h1>Gamer Army Of Darkness</h1>
            <h2>Darkpaste by 10xJSChad</h2>
            {% for x in range(1, length) %}           
             <a href="pastes/{{urls[-x][0]}}">{{titles[-x][0] + " by " + posters[-x][0]}}</a> <br>
            {% endfor %}
            {% if (length > 0) %}
            <a href="pastes/{{urls[0][0]}}">{{titles[0][0] + " by " + posters[0][0]}}</a> <br>
            {% endif %}
            {% if (username != "") %}
            <input type="button" onclick="location.href='/user/{{username}}';" value="Profile" />
            {% endif %}
            <input type="button" onclick="location.href='paste';" value="New Paste" />
    </center>
</body>