<!DOCTYPE html>
<head>
    <title>Darkpaste</title>
	<link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <center>
            <h1>Gamer Army Of Darkness</h1>
            <h2>Darkpaste by 10xJSChad</h2>
			
            {% for x in range(1, length) %}           
             <a href="/pastes/{{urls[-x]}}">{{titles[-x]}}</a> 
			 {% if isOwner %}      
			 <a href="/edit/{{urls[-x]}}">Edit</a> <a href="/delete/{{urls[-x]}}">Delete</a>
			 {% endif %}
			 <br>
            {% endfor %}

            {% if (length == 0) %}
             <h3>Invalid user</h3>
            {% endif %}

            {% if (length > 0) %}
             <a href="/pastes/{{urls[0]}}">{{titles[0]}}</a> 
			 {% if isOwner %}      
			 <a href="/edit/{{urls[0]}}">Edit</a> <a href="/delete/{{urls[0]}}">Delete</a>
			 {% endif %}
			 <br>
            {% endif %}

            <input type="button" onclick="location.href='/';" value="Index" />
    </center>
</body>